[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TemporalModelR"]
	path = TemporalModelR
	url = https://github.com/cjhughes926/temporalmodelr
